
{% extends 'maquette.html' %}
{%block contenu%}

<!--AFFICHER BIENS DANS UN TABLEAU-->
<h5 style="margin-left: 2%; color: #ed1c24; font-family:'Trebuchet MS';">Espace personnel:</h5>              

  <div class="tableinfo" >
    <table class="table"  >
        
      <tr style="background-color: #f1f1f1;">
        <th><B >N°</B></th>
        <th><B>Date Creation</B></th>
        <th><B>Nom</B></th>
        <th><B>Contact</B></th>
        <th><B>Adresse Mail</B></th>
        <th ><B>Genre</B></th>

        <th ></th>
        <th ></th>
        <th ><B>Actions</B></th>
        <th ></th>
        <th ></th>
        <th ></th>
  </tr>


    {% for user in lesusers %}
    <tr>
            <th scope="row" >{{user.id}}</th>
            <td>{{user.datecreation}}</td>
            <td>{{user.nom}}</td>
            <th>{{user.contact1}}</th>
            <th>{{user.adressemail}}</th>
            <td>{{user.genre}}</td>
            <td><img src="{{user.photoid.url}}", width=20 height=20></img></td>
            
        <!--Boutton voir details-->
            <td >  
              <a href="#" title="Voir les details">
                <svg id="i-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" >
                <circle cx="17" cy="15" r="1" />
                <circle cx="16" cy="16" r="6" />
                <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
                </svg>
              </a>
            </td>

            <td>
              <a href=""  title="Modifier">
                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                </svg>
                </a>
            </td>

        
     
            <td  title="Supprimer">
              <a href="#" ><svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  >
              <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
              </svg></a>
            </td>
      </tr>
      {% endfor %}
    </table>
  </div>

{%endblock%}