{% extends 'maquette.html' %}
{% block contenu %}
{% load static %}
<link  rel="stylesheet" type="text/css" href="{% static 'css/stylesaisie.css'%}" />

        <form method="post">
            
            {% csrf_token %}

        <!--Bloc conteneur-->
        <h5 style="margin-left: 2%; color: #ed1c24; font-family:'Trebuchet MS';">Modification de client:</h5><br>           

        <div class="bloc_champs">
            <!--Bloc 1 des details proprietaire-->
                <div class="c1">

                    <div class="divchampsperso"  >  

                        <div>
                            <label>Genre:</label><br>
                            <select  name="genre" class="form-inline" >
                                <option>{{leclient.genre}}</option>
                                <option>Monsieur</option>
                                <option>Madame</option>
                                <option>Entreprise</option>
                                <option>Autre</option>
                            </select>
                        </div><br>
                       
                        <div >
                            <label>Nom du bien:</label><br><input name="nom" class="form-control" value="{{leclient.nom}}" />
                        </div>
    
                        <div><br>
                            <label>contact 1:</label><br><input name="contact1" class="form-control" type="text" value="{{leclient.contact1}}"/>
                        </div>

                        <div><br>
                            <label>contact 2:</label><br><input name="contact2" class="form-control" type="text" value="{{leclient.contact2}}"/>
                        </div>

                        <div><br>
                            <label>Adresse mail:</label><br><input name="adressemail" class="form-control" type="email" value="{{leclient.adressemail}}"/>
                        </div>

                        <div><br>
                            <label>Adresse Postale:</label><br><input name="adressepostalloca" class="form-control" type="text" value="{{leclient.adressepostalloca}}"/>
                        </div>

                        <div><br>
                            <label>Date Naissance:</label><br><input name="datenaisloca" type="date" class="form-control" value="{{leclient.datenaisloca}}"/>
                        </div>
    
                        <div><br>
                            <label>Lieu Naissance:</label><br><input name="lieunaissloca" type="text" class="form-control" value="{{leclient.lieunaissloca}}"/>
                        </div>


                        <div><br>
                            <label>Besoin:</label><br>
                            <textarea class="texarea" name="besoin" type="text" placeholder="Besoin" style="width: 95%;" class="form-control" >{{leclient.besoin}}</textarea>
                        </div>

                        <div><br>
                            <label>Zone:</label><br>
                            <textarea class="texarea" name="localite" type="text" placeholder="Localites / Secteurs" style="width: 95%;" class="form-control">{{leclient.localite}}</textarea>
                        </div>
    
                        <div><br>
                            <label>Budget:</label><br><input name="budget" type="number" class="form-control" value="{{leclient.budget}}"/>
                        </div>
    
                        <div><br>
                            <label>Fonction:</label><br><input name="fonction" type="text" class="form-control" value="{{leclient.fonction}}"/>
                        </div>
    
    
                        <div><br>
                            <label>Habitation actuelle:</label><br><input name="lieuhabitationactuelle" type="text" class="form-control" value="{{leclient.lieuhabitationactuelle}}"/>
                        </div>
    
                        <div><br>
                            <label>Situation matrimoniale:</label><br><input name="situationmatrimoniale" type="text" class="form-control" value="{{leclient.situationmatrimoniale}}"/>
                        </div>
    
                        <div><br>
                            <label>Nombre enfant:</label><br><input name="nombreenfant" type="number" class="form-control" value="{{leclient.nombreenfant}}"/>
                        </div>

                        <div><br>
                            <label>Nationalité:</label><br><input name="nationnaliteloca" type="text" class="form-control" value="{{leclient.nationnaliteloca}}"/>
                        </div>
                        
                    </div><br>
            </div><!--Fin Bloc 1 des details proprietaire-->

            <!--Bloc 2 des details proprietaire-->
            <div class="c2">
                <div class="divinfosup">
                    <div>
                        <label>Type pièce:</label><br>
                        <select  name="naturepieceloca" class="form-inline">
                            <option >{{leclient.naturepieceloca}}</option>
                            <option>CNI</option>
                            <option>Passeport</option>
                            <option>Permis de conduire</option>
                            <option>Carte de sejours</option>
                        </select>
                        </div><br>

                    <div>
                        <label>N° Pièce:</label><br><input name="numpiece" class="form-control" value="{{leclient.numpiece}}"/>
                    </div>
                
                    <div><br>
                        <label>Date edition piece:</label><br><input name="dateeditionpiece" class="form-control" type="date" value="{{leclient.dateeditionpiece}}"/>
                    </div>

                
                    <div><br>
                        <label>Lieu edition pièce:</label><br><input name="lieueditionpiece" type="text" class="form-control" value="{{leclient.lieueditionpiece}}"/>
                    </div>

                    <div><br>
                        <label>Date fin pièce:</label><br><input name="datefinpiece" type="date" class="form-control" value="{{leclient.datefinpiece}}"/>
                    </div>
                
                
                    <div><br>
                        <label>Cas d'urgence:</label><br><input name="personnecasurgent" type="text" class="form-control" value="{{leclient.personnecasurgent}}"/>
                    </div>

                    <div><br>
                        <label>Contact urgence:</label><br><input name="contacturgence" type="contacturgence" class="form-control" type="tel" value="{{leclient.contacturgence}}"/>
                    </div>
                
                    <div><br>
                        <label>Representant:</label><br><input name="representant" type="text" class="form-control" value="{{leclient.representant}}"/>
                    </div>

                    <div><br>
                        <label>Contact Representant:</label><br><input name="contact1representant" type="text" class="form-control" value="{{leclient.contact1representant}}"/>
                    </div>

                    <div><br>
                        <label>Mail Representant:</label><br><input name="mailrepesentant" type="email" class="form-control" value="{{leclient.mailrepesentant}}"/>
                    </div>

                    <div><br>
                        <label>Capital:</label><br><input name="capital" type="number" class="form-control" value="{{leclient.capital}}"/>
                    </div>

                    <div><br>
                        <label>NCC:</label><br><input name="ncc" type="text" class="form-control" value="{{leclient.ncc}}"/>
                    </div>

                    <div><br>
                        <label>RC:</label><br><input name="rc" type="text" class="form-control" value="{{leclient.rc}}"/>
                    </div>

                    <div><br>
                        <label>Siège social:</label><br><input name="siegesocial" type="text" class="form-control" value="{{leclient.siegesocial}}"/>
                    </div>

                    <div><br>
                        <label>Statut:</label><br>
                        <select class="selectfield" name="statut" value="{{status.libelle}}">
                            <option>{{leclient.statut}}</option>
                            {% for status in listestatus %}
                            <option value="{{status.libelle}}">{{status.libelle}}</option>
                            {% endfor %}
                        </select>
                     </div><br>


                    <div><br>
                        <textarea class="texarea" name="commentaire" type="text" placeholder="Commentaire" style="width: 95%;" class="form-control" >{{leclient.commentaire}}</textarea>
                    </div>

                    <div align="Right" style="margin-top: 10px; margin-right: 40px;"><button  class="btn btn-danger" type="submit">Valider</button></div>
                </div><br>
            </div><!--Fin Bloc 2 des details proprietaire-->
        </form>

        {% endblock %}


