
{% extends 'maquette.html' %}
{%block contenu%}

<!--AFFICHER BIENS DANS UN TABLEAU-->
<h5 style="margin-left: 2%; color: #ed1c24; font-family:'Trebuchet MS';">Espace Contrats à valider:</h5>              

<!--Bouton creer nouveau-->
<div align="right"><a href="{% url 'adcontrat' %}"  class="btn btn-success" >Nouveau</a>
  <a href="#" class="btn btn-primary" >Imprimer</a><br><br></div>



  <div class="tableinfo" >
    <table class="table"  >
        
      <tr style="background-color: #f1f1f1;">
        <th><B >N°</B></th>
        <th><B>Date Creation</B></th>
        <th><B>Client</B></th>
        <th><B>Contact</B></th>
        <th><B>Adresse Mail</B></th>
        <th><B>Debut</B></th>
        <th ><B>Fin</B></th>
        <th ><B>Durée</B></th>
        <th ><B>Loyer</B></th>
        <th ><B>Statut</B></th>
        <th ></th>
        <th ></th>
        <th ><B>Actions</B></th>
        <th ></th>
        <th ></th>
        <th ></th>
  </tr>


    {% for contrat in lescontrats %}
    <tr>
            <th scope="row" >{{contrat.id}}</th>
            <td>{{contrat.datecration}}</td>
            <td>{{contrat.client.nom}}</td>
            <th>{{contrat.client.contact1}}</th>
            <th>{{contrat.client.adressemail}}</th>
            <td>{{contrat.datedebut}}</td>
            <td>{{contrat.datefin}}</td>
            <td>{{contrat.dureecontrat}}</td>
            <td>{{contrat.loyer}}</td>

        <!--Boutton voir details-->
            <td >  
              <a href="#" title="Voir les details du contrat">
                <svg id="i-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" >
                <circle cx="17" cy="15" r="1" />
                <circle cx="16" cy="16" r="6" />
                <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
                </svg>
              </a>
            </td>

            <td>
              <a href="#"  title="Valider">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
              </svg>
              </a>
            </td>

            

            <td>
              <a href="#"  title="Modifier">
                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                </svg>
                </a>
            </td>
     
            <td  title="Supprimer ce contrat">
              <a href="#" ><svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  >
              <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
              </svg></a>
            </td>
      </tr>
      {% endfor %}
    </table>
  </div>

{%endblock%}