{% extends 'maquette.html' %}
{% block contenu %}
{% load static %}

<br><br>
<form method="post">
  {% csrf_token %}

  <!--
<br><br><br>
  <div>
    <label>Text:</label><br><input name="text" type="text" class="form-control"/>
  </div>

  <div>
    <label>Image  :</a><br>
    </label><br><input name="photo" type="file" class="form-control" />
  </div><br>

  <div>
    <label>File  :<br>
    </label><br><input name="doc" type="file" class="form-control" />
  </div><br>

  <div align="Right" style="margin-top: 10px; margin-right: 40px;"><button  class="btn btn-danger" type="submit">Valider</button></div>
-->
<div>{{form.as_p}}</div>


<div align="Right" style="margin-top: 10px; margin-right: 40px;"><button  class="btn btn-danger" type="submit">Valider</button></div>


</form>
{% endblock %}
